@page "/"
@using LibraryApplication.Services
@using LibraryApplication.Data.Models
@inject BookService bookService;
@inject AuthorService authorService;
@inject PublisherService publisherService;
@inject AuthService authService;


<h1>Library</h1>

@if (authService.IsLoggedIn == true)
{
                <button class="btn btn-primary ml-2" @onclick="LogOut">Logout</button>
    <div class="container">
        <h3>Add New Author</h3>
        <EditForm Model=@author OnValidSubmit="HandleAuthorSubmit">
            <label for="NameInput">Name:</label> 
            <InputText id="NameInput" @bind-Value="@author.Name"></InputText>

            <label for="DateOfBirthInput">Date Of Birth:</label> 
            <InputDate id="DateofBirthInput" @bind-Value="@author.DateOfBirth"></InputDate>
            

            <label for="NationalityInput">Nationality:</label> 
            <InputText id="NationalityInput" @bind-Value="@author.Nationality"></InputText>

            <button type="submit" class="btn btn-primary ml-2">Submit</button>
        </EditForm>
    </div>

    <div class="container">
        <h3>Add New Publisher</h3>
        <EditForm Model=@publisher OnValidSubmit="HandlePublisherSubmit">
            <label for="NameInput">Name:</label>
            <InputText id="NameInput" @bind-Value="@publisher.Name"></InputText>

             <label for="AddressInput">Address:</label>
            <InputText id="AddressInput" @bind-Value="@publisher.Address"></InputText>

            <label for="PhoneNumberInput">Phone Number:</label>
            <InputText id="PhoneNumberInput" @bind-Value="@publisher.PhoneNumber"></InputText>
            <button type="submit" class="btn btn-primary ml-2">Submit</button>
        </EditForm>
    </div>

    <div class="container">
        <select class="form-control" @bind="@author.Name">
            <option value="">-- Select Author --</option>
            @foreach (var author_name in Authors)
            {
                <option value="@author_name.Name"></option>
            }
        </select>
       
    </div>


@* <h3>Add New Book</h3>
        <EditForm Model=@book OnValidSubmit="HandleBookSubmit">
            <label for="TitleInput">Title:</label>
            <InputText id="TitleInput" @bind-Value="@book.Title"></InputText>
            <button type="submit" class="btn-primary">Submit</button>
        </EditForm>
*@




}
else
{
    <p>You are not logged in. Please log in to view the content of this page.</p>
    <button class="btn btn-primary ml-2" @onclick="LogIn">Login</button>
}

<style>
    .container{
        margin: 20px;
        padding: 20px;
        background-color: #FFFFFF;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        border-radius: 10px;
    }

</style>


@code{
    Book book = new Book();
    Author author = new Author();
    Publisher publisher = new Publisher();

    private List<Author> Authors { get; set; } = new List<Author>();


    public void HandleBookSubmit(EditContext editContext)
    {
        var newBook = (Book)editContext.Model;
        bookService.AddBook(newBook);
    }

    public void HandleAuthorSubmit(EditContext editContext)
    {
        var newAuthor = (Author)editContext.Model;
        authorService.AddAuthor(newAuthor);
    }



    public void HandlePublisherSubmit(EditContext editContext)
    {
        var newPublisher = (Publisher)editContext.Model;
        publisherService.AddPublisher(newPublisher);
    }

    [Inject] NavigationManager NavigationManager { get; set; }
    public void LogIn()
    {

            NavigationManager.NavigateTo("/login");

    }

        public void LogOut()
    {
            authService.Logout();
            NavigationManager.NavigateTo("/login");

    }


}
